<!DOCTYPE html>
<html>
<head>
    <title>Database Contents</title>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>
    {% include 'navbar.html' %}
    <main>
        <div class="card">
            <div class="card-back-btn">
                <a href="/" class="btn btn-secondary back-arrow" title="Back"><span class="arrow-icon">&#8592;</span></a>
            </div>

{% for table in database %}
<div>
<h1>{{ table[0]}}</h1>

<table>
<tr>
    {% for columnname in table[1] %}
        <th>{{ columnname[0] }}</th>
    {% endfor %}
</tr>
    {% for row in table[2] %}
<tr>
        {% for column in row %}
            <td>{{ column }}</td>
        {% endfor %}
</tr>
    {% endfor %}
</table>

</div>
{% endfor %}
    </main>
</body>
</html>